@forward "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100..900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Manrope", sans-serif;
  --background: #fff;
  --foreground: #000;
}

body {
  font-family: var(--font-family);
}

header {
  background: var(--background);
}

.container {
  max-width: 1240px;
  padding-left: 10px;
  padding-right: 10px;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.contact {
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.03);
  background: url("../assets/images/letter_send.png") bottom -50px right 130px no-repeat;
  &__info {
    &_header {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 28px;
      color: #fff;
    }
    &_subheader {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: #c9c9c9;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    background: url("../assets/images/letter_send.png") bottom -80px right 130px
      no-repeat;
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    background: url("../assets/images/letter_send.png") bottom -20px right 70% no-repeat;
    background-size: 150px;
  }
}

.footer-form-bg {
  background: #131313;
}

.bg-custom {
  background-color: rgba(72, 72, 72, 0.5);
}
